<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS -->		 <link rel="stylesheet" href="/Public/css/bootstrap.min.css" 	type="text/css" media="all">
<!-- Default-CSS -->		 <link rel="stylesheet" href="/Public/css/style.css" 			type="text/css" media="all">
<!-- Navigation-Menu-CSS --> <link rel="stylesheet" href="/Public/css/menu_wave.css" 		type="text/css" media="all">
<!-- Gallery-Popup-CSS --> 	 <link rel="stylesheet" href="/Public/css/chocolat.css"			type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Navigation-Menu-JavaScript -->
<script src="/Public/js/snap.svg-min.js"></script>
<!--[if IE]>

<![endif]-->

<!-- Specialities-Hover-Effect-JavaScript --> <script src="/Public/js/modernizr.custom.js"></script>

<!-- Web-Fonts -->
<!--&lt;!&ndash; Body-Font &ndash;&gt;	 <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"					type='text/css'>-->
<!--&lt;!&ndash; Link-Font &ndash;&gt;	 <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900"		type='text/css'>-->
<!-- //Web-Fonts -->