<div class="icon-list">
    <a href="{:U('index/index')}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span>首页</span></a>

    <a href="{:U('Video/index')}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><span>视频</span></a>
    <a href="{:U('Img/Index')}"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span><span>图片</span></a>
    <a href="{:U('Audio/index')}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><span>音频</span></a>
    <a href="{:U('index/about')}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span>关于我们</span></a>
    <a href="{:U('index/contact')}"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span>联系我们</span></a>
</div>