<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <title>Products</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">

    <include file="Public/header" />

</head>
<!-- //Head -->



<!-- Body -->
<body>

<div class="container">

    <div class="menu-wrap">

        <!-- Navigation-Menu -->
        <nav class="menu">
            <include file="Public/menu" />
        </nav>
        <!-- //Navigation-Menu -->

        <!-- Close-Button -->
        <button class="close-button" id="close-button">Close Menu</button>
        <!-- //Close-Button -->

        <div class="morph-shape" id="morph-shape" data-morph-open="M0,100h1000V0c0,0-136.938,0-224,0C583,0,610.924,0,498,0C387,0,395,0,249,0C118,0,0,0,0,0V100z">
            <svg  width="100%" height="100%" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path d="M0,100h1000l0,0c0,0-136.938,0-224,0c-193,0-170.235-1.256-278-35C399,34,395,0,249,0C118,0,0,100,0,100L0,100z"/>
            </svg>
        </div>

    </div>

    <!-- Menu-Button -->
    <button class="menu-button" id="open-button">Open Menu</button>
    <!-- //Menu-Button -->

    <div class="content-wrap">

        <!-- Page-Content -->
        <div class="content">

            <!-- Header-1 -->
            <div class="header-1">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html">COUTURE</a>
                </div>
                <!-- //Logo -->

                <h1>PRODUCTS</h1>
            </div>
            <!-- //Header-1 -->

            <!-- Collection -->
            <div class="collection">
                <div class="container">

                    <div class="collection-grids">

                        <div class="col-md-4 col-sm-4 collection-left">
                            <img src="/Public/images/collection-1.jpg" alt="Couture">
                        </div>

                        <div class="col-md-8 col-sm-8 collection-right">
                            <div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-1">
                                <img src="/Public/images/special-1.png" alt="Couture">
                                <h3>Spring</h3>
                                <h4>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-2">
                                <img src="/Public/images/collection-2.jpg" alt="Couture">
                            </div>
                            <div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-3">
                                <img src="/Public/images/special-2.png" alt="Couture">
                                <h3>Summer</h3>
                                <h4>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-4">
                                <img src="/Public/images/collection-3.jpg" alt="Couture">
                            </div>
                            <div class="col-md-4 col-sm-4 collection-grid collection-text collection-grid-5">
                                <img src="/Public/images/special-3.png" alt="Couture">
                                <h3>Winter</h3>
                                <h4>A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 collection-grid collection-image collection-grid-6">
                                <img src="/Public/images/collection-4.jpg" alt="Couture">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>
            </div>
            <!-- //Collection -->



            <!-- products -->
            <div class="products" id="products">
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-1.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-1.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-2.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-2.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-3.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-3.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-4.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-4.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-5.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-5.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-6.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-6.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-7.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-7.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-8.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-8.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-9.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-9.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-10.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-10.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-11.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-11.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-12.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-12.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-13.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-13.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-14.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-14.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-15.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-15.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 gal-left">
                    <div class="content-grid-effect slow-zoom vertical text-center">
                        <a href="/Public/images/product-16.jpg" class="b-link-stripe b-animate-go  swipebox">
                            <div class="img-box">
                                <img src="/Public/images/product-16.jpg" alt="image" class="img-responsive zoom-img">
                            </div>

                            <div class="info-box">
                                <div class="info-content">
                                    <span class="separator"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //products -->



            <!-- Footer -->
            <include file="Public/footer" />
            <!-- //Footer -->

        </div>
        <!-- //Page-Content -->

    </div>

</div>



<!-- Necessary-JavaScript-Files-&-Links -->

<!-- Bootstrap-JavaScript-File -->  <script type="text/javascript" src="/Public/js/bootstrap.min.js"></script>
<!-- Supportive-JavaScript-File --> <script type="text/javascript" src="/Public/js/jquery-2.1.4.min.js"></script>

<!-- Navigation-Menu-JavaScript -->
<script src="/Public/js/classie.js"></script>
<script src="/Public/js/main3.js"></script>
<!-- //Navigation-Menu-JavaScript -->

<!-- Products-Popup-JavaScript -->
<script src="/Public/js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
        $(".swipebox").swipebox();
    });
</script>
<!-- //Products-Popup-JavaScript -->

<!-- //Necessary-JavaScript-Files-&-Links -->



</body>
<!-- //Body -->

</html>